[submodule "sparc-navigation"]
	path = sparc-navigation
	url = git@github.com:ami-lab/sparc-navigation.git
	branch = master
[submodule "sparc-vision"]
	path = sparc-vision
	url = git@github.com:ami-lab/sparc-vision.git
[submodule "sparc-dialog"]
	path = sparc-dialog
	url = git@github.com:ami-lab/sparc-dialog.git
